<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                {% if app.user.role is defined %}
                <div class="container-fluid">
                    <a href="{{ path('logout') }}" class="navbar-brand">Logout</a>
                    <div style="color:white">{{ app.user.role |slice(5,10) }}</div>
                </div>
                {% else %}
                    <a href="{{ path('login') }}" class="navbar-brand">Login</a>
                {% endif %}
            </nav>
        {% endblock %}

        {% block body %} {% endblock %}
        {% block footer %}
            <footer class="text-muted align-self-center">&copy; Alvaro Martinez</footer> 
        {% endblock %}
    </body>
</html>
