{% extends 'base.html.twig' %}

{% block title %}Sector index{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-2">
        <h2>Listado Sectores:</h2>
    </div>
    <div class="row mt-2 mb-3 ml-1">
        <h6>Registros: {{ pagination.getTotalItemCount }} </h6>
    </div>

    <table class="table table table-dark table-striped">
        <thead>
            <tr>
                <th{% if pagination.isSorted('s.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Id', 's.id') }}
                </th>
                <th{% if pagination.isSorted(['s.nombre']) %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Nombre', 's.nombre') }}
                </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.nombre }}</td>
                <td>
                {% if role == 'ROLE_ADMIN' %}
                    <div class="row">
                        <div class="col-12 col-lg-6"><a class="btn btn-warning col-12" href="{{ path('sector_edit', {'id': article.id}) }}">edit</a></div>
                        <div class="col-12 col-lg-6">
                            <form method="post" action="{{ path('sector_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                <button class="btn btn-danger col-12">Delete</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
        
    </table>
    {# display navigation #}
    <div class="navigation row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="row justify-content-between mb-2">
        {% if role == 'ROLE_ADMIN' %}
            <a class="btn btn-success ml-3" href="{{ path('sector_new') }}">Create new</a>
        {% endif %}
        <a class="btn btn-info mr-3" href="{{ path('home') }}">Home</a>
    </div>
    
    {% if error %}
        <script>alert("El sector que intenta borrar tiene empresas o usuarios asignad@s, cambie el sector de las empresas o del usuario y vuelva a intentarlo");</script>
    {% endif %}
    <div class="mb-5 mt-5"></div>
</div>
{% endblock %}
